body {
  background-image: radial-gradient(circle, rgb(22, 172, 67) 0%, rgb(48, 92, 19) 100%);
  text-align: center;
}

.header {
  height: 24px;
}

.dealer {
  height: 225px;
}

.dealer img {
  height: 225px;
  width: auto;
}

#dealer-cards, #player-cards, img {
  /* border: 1px solid lightgray; */
  padding: 1px;
}

.player {
  height: 225px;
}

.player img {
  height: 225px;
}

.player-cards-container {
  display: flex;
  justify-content: space-around;
}

#split1-cards {
  margin-right: 50px;
  padding: 1px;
}

#split2-cards {
  /* border: 3px solid yellow; */
  margin-left: 50px;
  padding: 1px;
}

.sum-container {
  display: flex;
  justify-content: space-around;
}

#dealer-sum-container, #player-sum-container {
  width: 48px;
  height: 48px;
  border-radius: 25%;
  border: solid;
  margin-top: 10px;
  border-width: 2px;
  border-color: white;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

.balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.bal {
  font-size: 24px;
  color: white;
}

#input {
  width: 125px;
  height: 24px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 5px;
}

.bet-button {
  font-size: 16px;
  height: 32px;
  width: 64px;
}

button {
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: 24px;
  border-radius: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.double-button {
  color: orange;
}

.hit-button {
  color: blue;
}

.stand-button {
  color: red;
}

.split-button {
  color: cyan;
}

.split1-result, .main-result, .split2-result {
  font-size: 28px;
  color: white;
}

.result-container {
  display: flex;
  justify-content: space-around;
  height: 24px;
  margin-bottom: 10px;
}

.music-button {
  position: absolute;
  font-size: 12px;
  top: 10px;;
  left: 10px;;
  height: 40px;
  width: 100px;
}